main.dark-mode {
    background-color: #2a2d36;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1db954;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    color: white;
}
#box{
    display: inline-flex;
   margin-right: 100px;
   margin-left: 20px;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px; 
     font-family:Arial, Helvetica, sans-serif;
}

footer {
    background-color: #1db954;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#bar{
   margin-left: 600px;

}
button{
    background-color: #1db954;
    color: #fff;
    width: 100%;
    border: #1db954;
    margin-right: 0px;
    padding-right: 0%;
}